@model KeremCvTemplate.Entites.Dtos.EmailDtos.EmailSendDto

<div class="container">
    <div class="row">
        <div class="col-lg-12">
          
            <div id="st-alert"></div>
            <form asp-controller="Home" asp-action="ContactSend" method="post" class="st-contact-form" id="contact-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="st-form-field">
                    <input type="text" id="name" asp-for="Name" placeholder="Adınız" required>
                </div>
                <div class="st-form-field">
                    <input type="text" id="email" asp-for="Email" placeholder="Mailiniz" required>
                </div>
                <div class="st-form-field">
                    <input type="text" id="subject" asp-for="Phone" placeholder="Konu" required>
                </div>
                <div class="st-form-field">
                    <textarea cols="30" rows="10" id="msg" asp-for="Message" placeholder="Mesajını" required></textarea>
                </div>
                <button class="st-btn st-style1 st-color1" type="submit" >Messajı Gönder</button>
            </form>
        </div>
     

     
    </div>
</div>